
/* at least 3 CSS declarations, one of them a class */

h1 {
   text-align: center;
   font-family: sans-serif;
}

body {
   font-style: normal;
   font-family: sans-serif;
   background-color: #008800;
}

.clock {
   text-align: center;
   font-size: 100px;
   font-weight: bold;
   color: yellow;
}