
/* at least 3 CSS declarations, one of them a class */

h1 {
   text-align: center;
   font-family: sans-serif;
}

h2 {
   text-align:center;
   font-family:sans-serif;
}

body {
   font-style: normal;
   font-family: sans-serif;
   background-color: #008800;
   text-align: center;
}

.clock {
   text-align: center;
   font-size: 100px;
   font-weight: bold;
   color: yellow;
}

.cold {
   background-color: #95A5A6;
}

.chilly {
   background-color: #1ABC9C;
}

.nice {
   background-color: #2980B9;
}

.warm {
   background-color: #E67E22;
}

.hot {
   background-color: #E74C3C;
}